<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClonBuster: Rentas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-dark">
    <nav class="navbar bg-body-tertiary bg-info">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-black fuente-grande">ClonBuster</span>
        </div>
    </nav>

    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">


            <div class="container mt-5 ">
                <h1 class="mb-4 text-white mt-5 text-center">Lista de Rentas</h1>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID Usuario</th>
                            <th>ID Película</th>
                            <th>Fecha de renta</th>
                            <th>Días de renta</th>
                            <th>Devuelta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for renta in rentas %}
                            <tr {% if renta.vencida() %}class="table-danger"{% endif %}>
                                <td>{{ renta.idRentar }}</td>
                                <td>{{ renta.idUsuario }}</td>
                                <td>{{ renta.idPelicula }}</td>
                                <td>{{ renta.fecha_renta}}</td>
                                <td>{{ renta.dias_de_renta }}</td>
                                <td>{{ "Sí" if renta.estatus else "No"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mt-5">
                <a href="/" ><button type="submit" class="btn btn-success mb-5">Regresar al inicio</button> </a>
            </div>

        </div>
    </div>

    <!-- Agregar enlace a Bootstrap (JS) al final del body -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJotaY8iN+3zZJZ6Gg4IfCkR5Ffsh2J" crossorigin="anonymous"></script>

</body>
</html>
