h1{
  margin-left: 17rem;
}
  
.card-container {
  margin-left:17rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las tarjetas horizontalmente */
}
  
.card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.card a {
  text-decoration: none;
  color: inherit;
}