.home{
    margin-left: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home p{
    margin-bottom: 100px;
}

.userImage{
    width: 300px; 
}

.rentImage{
    width: 500px;
}