table{
    width: auto;
    margin-right: auto;
    margin-left: calc(50% - 17rem);
    border-collapse: collapse;
}

th, td{
    padding-left: 2rem;
    text-align: left;
}

h1{
    text-align: center;
    padding: 20px;
}